#masthead {

}

.site-header {
    background-color: $color_site-primary;
    width: 100%;
}

.super-header {
    background-color: $color_site-text;
    color: $color_site-background;
    width: 100%;
}

.super-header a {
    color: $color_site-background;
}

.social-links {

}

.site-branding {

}

.site-info {
    margin-bottom: -7px;
    padding-top: 2em;
}

.site-title {

}

.site-description {

}

#header-banner-ad img {
    margin-top: 7px;
}