#page {
    background-color: $color_site-background;
}

.hfeed {

}

.site {

}

#content {
    padding-top: 2em;
}

.container {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
}

#primary {
    width: $size__site-main;
    float: left;
}

#secondary {
    width: $size__site-sidebar;
    float: right;
}

a {
    text-decoration: none;
}

.separator {
    margin-left: 1em;
    margin-right: 1em;
}

.post article {
    background-color: lighten($color_site-background, 100%);
}