#page {
    background-color: $color_site-background;
}

.hfeed {

}

.site {

}

#content {

}

.container {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
}

#primary {
    float: left;
    width: $size__site-main;
}

#secondary {
    float: right;
    width: $size__site-sidebar;
}

.hentry,
.widget {
    margin: 0 0 2em;
}

a {
    text-decoration: none;
}

.separator {
    margin-left: 1em;
    margin-right: 1em;
}

.post article {
    background-color: lighten($color_site-background, 100%);
}

.edit-link {
    float: right;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
    background-color: $color_site-primary;
    float: left;
    padding: 1em 2em;
    overflow: scroll;
    width: 45%;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
    background-color: $color_site-primary;
    float: right;
    padding: 1em 2em;
    overflow: scroll;
    width: 45%
}

.post-navigation .nav-previous::before {
    content: "&lsaquo; ";
}